@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Bold.eot');
    src: local('TT Norms Bold'), local('TTNorms-Bold'),
    url('../fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTNorms-Bold.woff2') format('woff2'),
    url('../fonts/TTNorms-Bold.woff') format('woff'),
    url('../fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Regular.eot');
    src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
    url('../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
    url('../fonts/SFUIDisplay-Regular.woff') format('woff'),
    url('../fonts/SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}